{{#em-modal-form open-if=openModal is-open=isOpen configName="bs" id="editGradeModal" on-submit="editGrade" in-async=async}}
  {{#em-modal-title}}
    {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
    <h4 class="modal-title">Edit Grade</h4>
  {{/em-modal-title}}

{{#em-modal-body}}
  {{#if model.async}}
      Submitting, please wait...
  {{else}}
    <div class="box-body">

      <div class="form-group">
        <label for="course">Course</label>
        {{view "select"
           content=courses
           value=selectedCourse
           optionValuePath="content.id"
           optionLabelPath="content.name"
           class='form-control'
           prompt='Please select a course'
           required='true'
        }}
      </div>

      {{grade-form grade=model gradeWeights=gradeWeights}}
    </div>
  {{/if}}
{{/em-modal-body}}
{{#em-modal-footer}}
  <button type="submit" class="btn btn-primary btn-flat" id="editGrade" {{bind-attr disabled=async}}>Save</button>
{{/em-modal-footer}}

{{/em-modal-form}}
