{{#em-modal-form open-if=openModal is-open=isOpen configName="bs" id="editCourseModal" on-submit="editCourse"}}
  {{#em-modal-title}}
    {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
    <h4 class="modal-title">Edit Course</h4>
  {{/em-modal-title}}

{{#em-modal-body}}
    <div class="box-body">
      {{partial "dashboard/courses/form"}}
    </div>
{{/em-modal-body}}
{{#em-modal-footer}}
  <button type="submit" class="btn btn-primary btn-flat" id="editCourse" {{bind-attr disabled=isntValid}}>Save</button>
{{/em-modal-footer}}

{{/em-modal-form}}
