{{partial 'partials/header'}}

{{outlet}}

<div class="container">
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Built by <a href="http://www.arinhouck.com" title="Arin Houck Web Development"> Arin Houck </a>
    </div>
    <strong>Copyright &copy; 2015 {{#link-to "index"}}Gradebuildr{{/link-to}}.</strong> All rights reserved.
  </footer>
</div>
