
<section class="content space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class='text-center'>Frequently Asked Questions</h1>

        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
            {{#em-accordion configName='bs' class='space' selected-idx=1}}
                {{#em-accordion-item title="How do I find my grade points and grade units on an unoffcial transcript?"}}
                  <ol>
                    <li>Go to your university portal page and download your unofficial transcript.</li>
                    <li>
                      Scroll to the very end of the transcript and you should see something similar to this image. <br>
                      <img src="assets/transcript-example.png" alt="" style="width: 100%;"/>
                    </li>
                    <li>Looking at the image, the number marked (1) is your grade units and (2) is your grade points.</li>
                  </ol>
                {{/em-accordion-item}}
            {{/em-accordion}}
          </div>
        </div>



        <p class='lead text-center'>Didn't answer your question? Then <a href="mailto:contact@gradebuildr.com">contact us</a> and we will help you.</p>
      </div>
    </div>
  </div>
</section>
