<div class="jumbotron bg-green vertical-align">
  <video loop muted autoplay poster="assets/intro.jpg" class="fullscreen-video">
    <source src="assets/intro.mp4" type="video/mp4">
    <source src="assets/intro.webm" type="video/webm">
  </video>
  <div class="container">
    <div class="col-sm-9 col-xs-12">
      <h1>Welcome, fellow students!</h1>
      <p>This application was made to help you track your grades in your college curriculum and properly weigh grades based on your course criteria.</p>
      <p>
        {{#if session.isAuthenticated}}
          {{#link-to 'dashboard.index' class='btn btn-outline btn-flat'}}
            Go to Dashboard
          {{/link-to}}
        {{else}}
          {{#link-to 'register' class="btn btn-flat btn-outline btn-lg"}}
            Register now
          {{/link-to}}
        {{/if}}
      </p>
    </div>
  </div>
</div>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Courses</h3>
        <p>Keep track of your entire college curriculum by semester and cumulatively by adding multiple courses to your highly customizable profile. </p>
      </div>
      <div class="col-sm-4">
        <h3>Grades</h3>
        <p>Fill out your assignments, homeworks, and exams to the best of your ability and it will accurately represent these into your current grade. </p>
     </div>
      <div class="col-sm-4">
        <h3>Weights</h3>
        <p>All courses can be weighted to do all the heavy lifting for you to calculate your grades without having to even touch a calculator.</p>
      </div>
    </div>
  </div>
</section>
