<section class="content">
  <div class="container">
    <h3>Login</h3>
  <form {{action "authenticate" on="submit"}}>
    <ul class="dropdown-menu">
      <li class="user-body">
        <div class="form-group">
          <label for="identification">E-mail</label><br />
          {{input value=identification placeholder="E-mail" type="text" name="email"}}
        </div>
        <div class="form-group">
          <label for="password">Password</label><br />
          {{input value=password placeholder="Password" type="password" name="password"}}
        </div>
      </li>
      <!-- Menu Footer-->
      <li class="user-footer">
        <div class="pull-left">
          <a href="#" class="btn btn-default btn-flat" id="cancel">Cancel</a>
        </div>
        <div class="pull-right">
          <button type="submit" class="btn btn-default btn-flat" id="login">Log in</button>
        </div>
      </li>

    </ul>
  </form>
  </div>
</section>
