{{#em-modal-form open-if=openModal is-open=isOpen configName="bs" id="newRequestModal" on-submit="sendRequest"}}
  {{#em-modal-title}}
    {{#em-modal-toggler class="close"}}<span aria-hidden="true">×</span><span class="sr-only">Close</span>{{/em-modal-toggler}}
    <h4 class="modal-title">New Request</h4>
  {{/em-modal-title}}

  {{#em-modal-body}}
    <div class="box-body">
      <div class="form-group">
        <label for="email">Request by Email</label>
        {{input value=email type='email' class='form-control' id="email" placeholder='Enter user email'}}
      </div>
    </div>
  {{/em-modal-body}}
  
  {{#em-modal-footer}}
    <button type="submit" class="btn btn-primary btn-flat" id="sendRequest">Send</button>
  {{/em-modal-footer}}

{{/em-modal-form}}
