<div class="{{if isDashboard '' 'container'}}">
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Built by <a href="http://www.arinhouck.com" target="_blank" title="Arin Houck Web Development"> Arin Houck </a>
    </div>
    <strong>Copyright &copy; 2015 <a href="mailto:contact@gradebuildr.com">Gradebuildr</a>.</strong> All rights reserved.
  </footer>
</div>
