<aside class="main-sidebar">
  <section class="sidebar">
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat" disabled='true'><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>

    <ul class="nav sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      {{#link-li-toggle}}
        {{#link-to 'dashboard.index'}}
          {{fa-icon 'dashboard'}}<span>Dashboard</span>
        {{/link-to}}
      {{/link-li-toggle}}
      {{#if session.currentUser.isStudent}}
        {{#link-li-toggle}}
          {{#link-to 'dashboard.courses'}}
            {{fa-icon 'university'}}<span>Courses</span>
          {{/link-to}}
        {{/link-li-toggle}}
        {{#link-li-toggle}}
          {{#link-to 'dashboard.grades'}}
            {{fa-icon 'file-text-o'}}<span>Grades</span>
          {{/link-to}}
        {{/link-li-toggle}}
      {{/if}}
      {{#if session.currentUser.isOrganization}}
        {{#link-li-toggle}}
          {{#link-to 'dashboard.students'}}
            {{fa-icon 'users'}}<span>Students</span>
          {{/link-to}}
        {{/link-li-toggle}}
      {{/if}}
    </ul>

  </section>
</aside>
