<li><a target="_blank" href="https://www.facebook.com/gradebuildr">{{fa-icon 'facebook'}}</a></li>
<li><a target="_blank" href="https://twitter.com/gradebuildr">{{fa-icon 'twitter'}}</a></li>
<li><a target="_blank" href="https://instagram.com/gradebuildr/">{{fa-icon 'instagram'}}</a></li>
