<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Students {{#if isLoading}} {{fa-icon 'spinner' spin=true}} {{/if}}
    </h1>
  </section>

  <section class="content">
    {{outlet}}
  </section>
</div>
