/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";


 div.checkbox > label > span {
   vertical-align: middle;
 }

 table h4 {
   margin: 0;
 }

.dropdown-menu {
  display: block;
}

.university-badge {
  z-index: 5;
  height: 90px;
  width: 90px;
  background: #bbb;
  border: 3px solid;
  border-color: transparent;
  display: inline-block;
  border-color: rgba(255,255,255,0.2);
}
.university-badge > span {
  vertical-align:middle;
  line-height: 85px;
  margin: 0;
  font-size: 23px;
  font-weight: 300;
}

.container-icon {
  padding: 10px;
  i { color: #fff; }
}
