/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";

 .equal-height {
   min-height: 375px;
 }
  .jumbotron {
    z-index: 0;
    position: relative;
    overflow: hidden;
  }
  .vertical-align {
    min-height: 300px;
    display: flex;
    align-items: center;
  }
  .jumbotron video {
    position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: -1;
     background-size: cover;
     transition: 1s opacity;
     opacity: 0.5;
     width: 100%;
  }


  @media (min-width: 1200px) {
    .jumbotron {
      height: 650px;
    }
   }
  .navbar-nav {
    a {
      font-weight: 500;
      border-left: none!important;
      border-right: none!important;
    }
  }


  .space {
    margin: 100px 0;
  }

  .border-right {
    border-right: #d2d6de 1px solid;
  }
  .radio-option {
    font-size: 1.2em;
  }
  .p-radio {
    padding: 5px 20px;
    font-size: 1em;
  }
  .small-box {
    box-shadow: none;
  }

   [data-ember-action] {
     cursor: pointer;
   }

  .well {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  li.header {
    img {
      width: 100%;
      max-width: 25px;
      height: auto;
    }
    button {
      margin-right: 10px;
    }

  }

  .tab-pane {
    .dl-horizontal {
      dt {
        min-width: 20%;
      }
      dd {
        margin-left: 25%;
      }
    }

  }

  #tab a {
    background-color: rgb(0, 166, 90);
    color: #fff;
    border: 2px solid #fff;
    font-weight: bold;
    padding: 5px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: fixed;
    right: -25px;
    bottom: 10%;
    margin-top: -100px;
    z-index: 1000;
  }

 .navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 200px;
  }

  .modal {
    overflow: none;
    max-height: none;
  }
  .center-button-sm {
    vertical-align: middle;
    line-height: 27px;
  }
 .modal .modal-body {
     max-height: 320px;
     overflow-y: auto;
 }
 @media (min-width: 768px) {
   .modal .modal-body {
      max-height: 450px;
   }
  }
 .skin-black .main-header .navbar-brand {
   border-right: none;
 }

 .label-group > a {
   margin-right: 5px;
 }

 div.checkbox > label > span {
   vertical-align: middle;
 }

 table h4 {
   margin: 0;
 }

.dropdown-menu {
  display: block;
}

.user-menu {
  z-index: 1000;
  small > b {
    display:block;
  }
}

.container-icon {
  padding: 10px;
  i { color: #fff; }
}


/* =================================
Price Table
================================= */
.price-table {
	background: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 7px solid #eeeeee;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}
.price-table.active {
	background: rgba(0,0,0, .03);
	border-color: #0093DD;
}
.price-table .price-table-heading {
	color: #333333;
	background: #f9f9f9;
	padding: 10px 0;
	margin: 0;
}
.price-table .price-table-heading .title {
	color: #333333;
	font-weight: 900;
	letter-spacing: 1px;
}
.price-table > .price-table-body {
	color: #FFFFFF;
	background: #0093DD;
	padding: 50px 0 30px;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
.price-table > .price-table-body .value {
	font-size: 66px;
	font-weight: 300;
	color: #FFFFFF;
	padding: 0;
}
.price-table > .price-table-body .value small {
	font-size: 16px;
}
.price-table > .list-group {
	color: #333;
	font-weight: 400;
	margin-bottom: 0;
}
.price-table > .list-group .list-group-item {
	color: #333;
	font-weight: 400;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.price-table .btn {
	font-weight: 700;
}
.price-table-footer {
	background: #eeeeee;
	padding: 15px 0;
}
