<section class="content">
  <div class="container">
    <h2> Change your Password </h2>
    <div class="row">
      <div class="form-group">
        <label for="password">New Password</label>
        {{input value=password type='password' class='form-control' id="password"}}
      </div>
      <div class="form-group">
        <label for="passwordConfirmation">Confirm New Password</label>
        {{input value=passwordConfirmation type='password' class='form-control' id="passwordConfirmation"}}
      </div>
    </div>

    <div class="form-group">
      <button type="button" name="button" class="btn btn-primary btn-flat" {{action 'changePassword'}}>Change my Password</button>
    </div>
  </div>
</section>
